body {
    font-family: Arial, Helvetica, sans-serif;
    background: rgb(32, 33, 36);
}

.topBar {
    float: right;
}

.mainContainer {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 6em;
    grid-auto-rows: 500px;
    padding: 70px;
}

.bookCard {
    padding: 1em;
    text-align: center;
    color: rgb(232, 234, 237);
}

.bookCard label {
    position: relative;
}

.titleLbl {
    font-size: 50px;
}

.authorLbl {
    font-size: 20px;
    top: 150px;
}

.pagesLbl {
    font-size: 15px;
    top: 180px;
}

.didReadLbl {
    font-size: 15px;
    top: 190px;
}

.mainContainer>.bookCard:hover {
    border: solid 1px;
    border-radius: 3px;
}

img.plusBtn {
    position: relative;
    float: right;
    right: 30%;
    content: url("plus.png");
    width: 50px;
    height: 50px;
}


/* .editBtn,
.delBtn {
    position: relative;
    display: inline-block;
    background: #6dc36d;
    padding: 18px;
    border: solid 0px;
    border-radius: 2px;
    color: white;
    right: 70px;
} */


/***************************************MODAL*****************************/

.modalDimmer {
    display: none;
    position: fixed;
    z-index: 1;
    overflow: auto;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    left: 0;
    top: 0;
}

.mainModal {
    background-color: white;
    margin: 3% auto;
    width: 600px;
    height: 850px;
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 7px 20px 0 rgba(0, 0, 0, 0.17);
    animation-name: mainModalOpen;
    animation-duration: 1s;
}

.modalHeader {
    background: gray;
    color: white;
}

.modalBody {
    padding: 0;
    height: 810px;
    text-align: center;
}

.modalBody>.bookCard {
    height: 820px;
    width: auto;
}

.modalFooter {
    display: block;
    position: relative;
    color: white;
    text-align: left;
    height: 30px;
    margin:
}

.editBtn {
    position: relative;
    content: url("edit.png");
    width: 30px;
    height: 30px;
}

.delBtn {
    position: relative;
    content: url("trash.png");
    width: 30px;
    height: 30px;
}

.changeColorBtn {
    position: relative;
    content: url("changeColor.svg");
    width: 30px;
    height: 30px;
    color: black;
}

.closeBtn {
    color: #ccc;
    float: right;
    font-size: 18px;
    padding: 5pt;
}

.closeBtn:hover,
.closeBtn:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

@keyframes mainModalOpen {
    from {
        opacity: 0
    }
    to {
        opacity: 1
    }
}

.filter-light-gray {
    filter: invert(93%) sepia(7%) saturate(74%) hue-rotate(177deg) brightness(100%) contrast(93%);
}


/***************************************MODAL END*****************************/